<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='linux.svg') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='tools.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    
  
</head>
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='apple-touch-icon-114x114-precomposed.png') }}">
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
<!-- <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
<!-- <div> 
    <nav class="navbar">
      <ul class="nav-list">
       
          <li class="nav-item">
            <a href="{{ url_for('dns_check') }}" class="dns-button">DNS check</a>
          </li>
          
          <li class="nav-item">
            <a href="{{ url_for('password_generator') }}" class="dns-button">Generate password</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('get_ip_info') }}" class="dns-button">IP info</a>
        </li>
      </ul>
  </nav>



  </div> -->
<body>
  <div class="navbar"> 
    <nav >
      <ul class="nav-list">
        <li class="nav-item">
          <a href="{{ url_for('index') }}" >Home</a>
      </li>
          <li class="nav-item">
            <a href="{{ url_for('dns_check') }}" >DNS check</a>
          </li>
          
          <li class="nav-item">
            <a href="{{ url_for('password_generator') }}" >Generate password</a>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('get_ip_info') }}" >IP info</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('upload_file') }}" >ImapSync From File Beta</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('check_dkim') }}" >Mail Records</a>
    </li>
       
      </ul>
  </nav>


  </div>
    
    <div class="container">
        <h1>Password Generator</h1>
        <form method="POST">
            <label for="num_symbols">Number of Symbols:</label>
            <input type="number" id="num_symbols" name="num_symbols" required><br>

            <label for="num_letters">Number of Letters:</label>
            <input type="number" id="num_letters" name="num_letters" required><br>

            <label for="num_numbers">Number of Digits:</label>
            <input type="number" id="num_numbers" name="num_numbers" required><br>

            <!-- <input type="submit" value="Generate Password"> -->
            <button class="dns-button" type="submit">Generate Password</button>
        </form>

        
    </div>
    <br>
<!-- 
<div class="password">
  
  {% if password %}
  <h2>Your Generated Password:</h2>
  <p type="text" id="password">{{ password }}</p>
  {% endif %}
  <button onclick="copyPassword()">Copy Password</button>

</div> -->
{% if password %}
<div class="password">
  
  <p style="font-size: small;"> Your Generated Password:</p>
  
  <input   type="text" id="password" value="{{ password }}" readonly>
 
  <button style="font-size: small;" class="dns-button" onclick="copyPassword()">Copy Password</button>
  
</div>
{% endif %}

    <div class="bottom-center-container">
        <a href="{{ url_for('index') }}" class="bottom-center-button">Back</a> <br>
      </div>
      <div class="bottom-center-container">
      </div>

      <script>
        function copyPassword() {
          var copyText = document.getElementById('password');
          
          // Select the text field
          copyText.select();
          copyText.setSelectionRange(0, 99999); // For mobile devices
      
          // Copy the text inside the text field
          navigator.clipboard.writeText(copyText.value);
      
          // Alert the copied text
          alert("Copied the text: " + copyText.value);
        }
      </script>
</body>
</html>
