<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='linux.svg') }}"> -->
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
     <!-- <link rel="icon" href="https://www.python.org/static/apple-touch-icon-144x144-precomposed.png" type="image/png"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='tools.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload File</title>
  </head>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='apple-touch-icon-114x114-precomposed.png') }}">

  <body>
    <div class="navbar"> 
      <nav >
        <ul class="nav-list">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" >Home</a>
        </li>
            <li class="nav-item">
              <a href="{{ url_for('dns_check') }}" >DNS check</a>
            </li>
            
            <li class="nav-item">
              <a href="{{ url_for('password_generator') }}" >Generate password</a>
            </li>
  
            <li class="nav-item">
              <a href="{{ url_for('get_ip_info') }}" >IP info</a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('upload_file') }}" >ImapSync From File Beta</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('check_dkim') }}" >Mail Records</a>
      </li>

        </ul>
    </nav>
  
  
    </div>

     
      <span class="text_position">
        File Upload Format 
        <span >  <br>
          ip-addr;source1@example.com;password;ip-addr;destination1@example.com;password
        </span>

      </span>
     
    
  
     
     

    <div>
      
      
      <p> Upload imapsync formatted file</p>
      <p> Allowed extension is ".txt" </p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form  method="post" enctype="multipart/form-data" action="{{ url_for('upload_file_post') }}">
        <div>
          <label for="file" >Choose file</label><br>
          <br>
          <input type="file" id="file" name="file">
        </div>
        <br>
        <input type="submit">
      </form>
    </div>
    <br>
    <div class="bottom-center-container">
      <a href="{{ url_for('index') }}" class="bottom-center-button">Back</a> <br>
    </div>
    <div class="bottom-center-container">
  </div>
  </body>
</html>
